* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: center;
    height: 75px;
    align-items: center;
}

button {
    border: none;
    background-color: transparent;
}

.container {
    display: flex;
    justify-content: center;
}

.standard {
    font-family: "Outfit";
}

.title {
    font-size: 4rem;
    text-shadow: 4px 4px white;
}

.page-btn {
    position: fixed;
    right: 10px;
    top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    backdrop-filter: blur(60px);
    -webkit-backdrop-filter: blur(60px);
    width: 75px;
    height: 75px;
    border-radius: calc((75 / 2) * 1px);
    transition: width 1s ease-in-out;
}

#hide {
    max-width: 0%;
    display: inline-block;
    vertical-align: bottom;
    overflow: hidden;
    white-space: nowrap;
    transition: max-width 1s ease-in-out;
    margin: 0;
    font-size: 2rem;
}

.page-btn:hover #hide {
    max-width: 100%;
}

.page-btn:hover {
    width: 150px;
    border-radius: calc((75 / 2) * 1px);
}

.plus-icon {
    background-color: rgba(0,0,0,0.3);
    backdrop-filter: blur(40px);
    -webkit-backdrop-filter: blur(40px);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    line-height: 50px;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}

.create-new {
    background-color: rgba(200,200,200,0.4);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border-radius: 20px;
    width: 570px;
    height: 80px;
    margin-top: 40px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.cn-text {
    font-size: 2rem;
}

.goal {
    border-radius: 20px;
    width: 570px;
    height: 150px;
    background-color: rgba(200,200,200,0.4);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    margin-top: 20px;
}