main {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.timer * {
    font-size: 8rem;
}

.timer {
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    z-index: 1000;
}
